header {
  background-color: #e32249;
  padding: 1rem;
  text-align: center;
}
header span {
  font-size: 3rem;
  color: rgb(238, 224, 222);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f9f7f7;
}
.note {
  color: red;
}
.infix {
  margin-top: 5rem;
}
.infix input {
  text-align: center;
  outline: none;
  width: 30rem;
  border-color: rgb(245, 207, 136);
  border: none;
  height: 2.4rem;
  border-radius: 5px;
  font-size: 1.6rem;
  box-shadow: 0px 0px 3px 1px rgb(95, 92, 92);
}
.infix button {
  height: 2.8rem;
  width: 7rem;
  margin-right: 1rem;
  border-radius: 7%;
  border: none;
  font-size: 1.5rem;
  color: rgb(235, 229, 229);
  outline: none;
  background-color: rgb(253, 25, 71);
  cursor: pointer;
}
.answer {
  height: 5rem;
  font-weight: 700;
  padding: 1rem 0 3rem 0;
  margin: 3% 10% 0 10%;
  box-shadow: 0 0 4px black;
  background-color: white;
  border-radius: 7px;
}

.hidden {
  display: none;
}
.table {
  margin: 5rem 0 5rem 10%;
}
table {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  width: 90%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #988585;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #ebe5e5;
}
